<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>図鑑検索</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="form-center">
            <h1>図鑑検索</h1>

            <form th:action="@{/pokedex/result}" method="post">
                <div class="row">
                    <label>図鑑番号</label>
                    <input type="number" name="id" required>
                </div>

                <button type="submit">検索</button>
            </form>

            <div class="actions">
                <a th:href="@{/}">← トップへ戻る</a>
            </div>
        </div>


    </div>
</div>
</body>
</html>
